{% extends "layout.html" %}

{% block body %}
    <noscript>
        <strong>
            I'm sorry but this app requires JavaScript enabled. If you disabled JavaScript, please enable it. Otherwise update/change your browser. 
        </strong>
    </noscript>
    
    <div id="top" class="container text-center mt-5">
        <div id="anime">
            <img id="title" src="/static/smath4.png" alt="Smath 0.1" width="256" height="128">
        </div>
        <p>0.1</p>
        <p>Straightforward math calculator | expression evaluator </p>
    </div>
    <div id="app" class="container text-center mt-5">
        <div id="input" class="container text-center">
            <input id="exp" type="text" autofocus placeholder="{{ example }}" onkeypress="handle(event)"/>
            <button type="button" class="btn btn-primary" onclick="calc()">Evaluate</button>    
        </div>
        <div id="output" class="container-fluid">
            Loading...
        </div>
    </div>
    <div class="text-center container mt-10">
        <p>Powered by <a href="https://www.wolframalpha.com">WolframAlpha</a>
            <br>Made for personal learning purposes
            <br><a href="https://github.com/henockt/smath">repo</a>
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/static/main.js"></script>
{% endblock %}
